@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.bg-banner {
  background-image: url('../src/asset/image/banner.png');
  background-position: center;
  background-size: cover;
}

.bg-aboutus {
  background-image: url('../src/asset/image/bg1.png');
  background-position: center;
  background-size: cover;
}

.sticky-button {
  z-index: 99999;
  right: 20px;
  bottom: 20px;
  position: fixed;
}

.font-tebal {
  font-weight: bolder;
}

@media only screen and (max-width: 480px) {
  .font-contact{
    font-size: 17px;
  }
  
  .font-aboutus {
    font-size: 15px;
  }

  .shoppee{
    width: 70px;
  }
}