@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg-banner {
  background-image: url('../src/asset/image/banner.png');
  background-position: center;
  background-size: cover;
}

.bg-aboutus {
  background-image: url('../src/asset/image/bg1.png');
  background-position: center;
  background-size: cover;
}